/* 追加：ブラウザ標準の余白をリセットし、画面からはみ出さないようにする */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* 画面全体のスクロールを禁止 */
}

.wrapper{
  display: flex;
}

/* 二分割 */
.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh; 
}

.main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}

/* サイド */
.side_header{
  height:100px;
  background-color: #253141;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_title{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  box-sizing: border-box;
  padding:0 20px;
  overflow: scroll;
}



/* メイン */
.main_header{
  height: 100px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 40px;
}

.main_main{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  box-sizing: border-box;
  padding: 46px 0 40px;
}

.main_footer{
  background-color: #DDDDDD;
  height: 90px;
  box-sizing: border-box;
  padding: 20px 40px;
}

/* サイドバー実装 */
a{
  display: block;
  color: white;
  text-decoration: none;
}

.username{
  font-size: 16px;
  color: #FAFAFA;
}

.create_chat{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
}

.side_titles{
  padding-left: 0;
  margin: 0;
}

.chatroom{
  /* border: 1px solid white; */
  list-style: none;
  padding-top: 20px;
  padding-bottom: 40px;
}