<div th:fragment="main_chat" class="main_chat">
  <div class="main_header">
    <p class="current_chat" th:text="${room.name}">ルーム名</p>
    <a href="#" class="end_chat">チャットを終了する</a>
  </div>
  <div class="main_main">
      <div th:each="message: ${messages}"  class="main_post">
        <div class="main_flex">
          <div class="message-user" th:text="${message.user.name}">ユーザー名</div>
          <div class="time_post" th:text="${message.createdAt}">日付</div>
        </div>
        <div class="post_content" th:text="${message.content}">メッセージ内容</div>
      </div>
  </div>
  <div class="main_footer">
    <form th:action="@{/rooms/{roomId}/messages(roomId=${roomId})}" method="post" th:object="${messageForm}">
      <div class="form_input">
        <input th:field="*{content}" class="enter_content" placeholder= "type a message"/>
        <label class="form_image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden"/>
        </label>
      </div>
      <input class="bt_post" type="submit" value="送信"/>
    </form>
  </div>
</div>