<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="main_chat" class="main_chat">
  <div class="main_header">
    <p class="current_chat">hogefuga</p>
    <a href="#" class="end_chat">チャットを終了する</a>
  </div>
  <div class="main_main">
    <ul class="main_post">
      <li>
        <div class="main_flex">
          <p class="name_post">Tom</p>
          <p class="time_post">2020/3/31(Wed) 12:43:30</p>
        </div>
        <p class="post_contemt">おはよう</p>
      </li>
      <li>
        <div class="main_flex">
          <p class="name_post">Sim</p>
          <p class="time_post">2020/3/31(Wed) 12:48:21</p>
        </div>
        <p class="post_contemt">Hello</p>
      </li>
    </ul>
  </div>
  <div class="main_footer">
      <div class="form_input">
        <input class="enter_content" placeholder="type a message">
        <label class="form_image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input class="bt_post" type="submit" value="送信">
  </div>
</div>
</html>